<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Start Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg">
  <div class="container card fade">
    <h1>Antes de comenzar...</h1>
    <p>Escribe tus apellidos y curso</p>
    <form method="POST">
      <input type="text" name="name" placeholder="Your name" required class="input">
      <button type="submit" class="btn">Adelante?</button>
    </form>
  </div>
</body>
</html>
